<% provide(:title, @user.name) %>

<div class="container-fluid profile-wrapper">

    <div class="row">
        <div class="col-sm-12">
            <%= gravatar_for @user %>
            <h1><%= @user.name %></h1>
            <div>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <p><strong>Skills:
                    <% @user.tag_list.each do |t| %>
                    <span class="label label-primary"><%= t %></span>
                    <% end %>
                    </strong>
                </p>
            </div>
        </div>
    </div>

 <%= link_to 'Message', {controller: 'conversations', action: 'new', user_id: @user.id} %>

 <%= link_to 'Inbox', {controller: 'conversations', action: 'index', user_id: @user.id} %>



    <div class="row document-list">
        <div class="col-sm-12">
            <h3>Created Documents</h3>
            <% @documents.each do |d| %>
                <ul><%= link_to d.title, document_path(d)%></ul>
                <% if current_user == d.user %>
                    <%= link_to "delete", d, method: :delete,
                            data: { confirm: "You sure?" } %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="row upload-wrapper">
        <div class="col-sm-12">
            <div>
                <h1>Create document to ramp!</h1>
                <div id="upload">
                    <%= link_to "Create", new_document_path, class: "btn btn-large btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>
