<% provide(:title, @user.name) %>

<div class="container-fluid profile-wrapper">

    <div class="row">

        <div class="col-md-3 image-profile">
            <img class="img-circle" src="http://davemorrowphotography.smugmug.com/Bestof/Portfolio/i-9WfNDJx/8/XL/When%20Worlds%20Collide-XL.jpg" style="width:150px;height:150px">
        </div>

        <div class="col-md-5 profile-content">
            <h1><%= @user.name %></h1>
            <span>
                <%= link_to " ", {controller: 'conversations', action: 'new', user_id: @user.id}, :class => "glyphicon glyphicon-envelope" %>
            </span>
        </div>

        <div class="col-md-4 profile-tags">
            <p><strong>Skills:
                <% @user.tag_list.each do |t| %>
                <ul><span class="label label-warning"><%= t %></span></ul>
                <% end %>
                </strong>
            </p>
        </div>

    </div>
</div>


<div class="row profile-lower">
    <div class="col-md-4 notifications">
        <h3 class="glyphicon glyphicon-flash"></h3>
        <ul class="small-font">Coming Soon</ul>
    </div>

    <div class="col-md-4 created-docs">
        <h3 class="glyphicon glyphicon-cloud"></h3>
        <div class="document-list">
            <% @documents.each do |d| %>
            <ul><%= link_to d.title, document_path(d)%></ul>
            <% end %>
        </div>
    </div>

    <div class="col-sm-4 create-docs">
        <div>
            <h3 class="glyphicon glyphicon-cloud-upload"></h3>
            <div id="upload">
                <%= link_to "", new_document_path, class: "glyphicon glyphicon-plus-sign" %>
            </div>
        </div>
    </div>

</div>
